{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="category-form" method="POST">
                <!-- hidden_tag returns the form's security metadata -->
                {{ form.hidden_tag() }}
                <div class="form-group col-sm-3 mb-3">
                    {{ form.catid.label(class = "form-label") }}
                    {{ form.catid(class = "form-select", placeholder = "Category id is required", required = False) }}
                    {% if form.catid.errors %}
                    <ul class = "errors">
                        {% for error in form.catid.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.book.label(class = "form-label") }}
                    {{ form.book(class = "form-select", placeholder = "Book id is required", required = False) }}
                    {% if form.book.errors %}
                    <ul class = "errors">
                        {% for error in form.book.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
            </form>
    </div>
    </div>
</div>
{% endblock content %}
