{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="school-form" method="POST">
                <!-- hidden_tag returns the form's security metadata -->
                {{ form.hidden_tag() }}
                <div class="form-group col-sm-3 mb-3">
                    {{ form.name.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.name(class = "form-control", placeholder = "Enter School name", required = False) }}
                    {% if form.name.errors %}
                    <ul class = "errors">
                        {% for error in form.name.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.email.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.email(class = "form-control", placeholder = "Enter email", required = False) }}
                    {% if form.email.errors %}
                    <ul class = "errors">
                        {% for error in form.email.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.principal.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.principal(class = "form-control", placeholder = "Enter principal full name", required = False) }}
                    {% if form.principal.errors %}
                    <ul class = "errors">
                        {% for error in form.principal.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.librarian.label(class = "form-label") }}
                    {{ form.librarian(class = "form-control", placeholder = "Enter librarian full name", required = False) }}
                    {% if form.librarian.errors %}
                    <ul class = "errors">
                        {% for error in form.librarian.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.city.label(class = "form-label") }}
                    {{ form.city(class = "form-control", placeholder = "Enter city", required = False) }}
                    {% if form.city.errors %}
                    <ul class = "errors">
                        {% for error in form.email.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.address.label(class = "form-label") }}
                    {{ form.address(class = "form-control", placeholder = "Enter address", required = False) }}
                    {% if form.address.errors %}
                    <ul class = "errors">
                        {% for error in form.address.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.zip_code.label(class = "form-label") }}
                    {{ form.zip_code(class = "form-control", placeholder = "Enter zip code", required = False) }}
                    {% if form.zip_code.errors %}
                    <ul class = "errors">
                        {% for error in form.zip_code.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.phone.label(class = "form-label") }}
                    {{ form.phone(class = "form-control", placeholder = "Enter phone number", required = False) }}
                    {% if form.phone.errors %}
                    <ul class = "errors">
                        {% for error in form.phone.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
            </form>
    </div>
    </div>
</div>
{% endblock content %}
