{% extends "global_layout.html" %}
{% block content %}



<center>
<h3>User Manual</h3><br><br><br><br></center>
Οδηγίες χρήσης της εφαρμογής:

Απλός χρήστης:<br><br>
	Δυνατότητα εγγραφής από την αρχική σελίδα, χρησιμοποιώντας το κουμπί "Register", το οποίο σας κατευθύνει σε μια φόρμα, όπου καταχωρείτε τα στοιχεία σας και στη συνέχεια πατάτε το κουμπί "Create".<br><br>
	Εφόσον έχετε καταχωρήσει σωστά όλα τα πεδία ο λογαριασμός σας θα δημιουργηθεί, όμως για να μπορέσετε να συνδεθείτε θα πρέπει να επιβεβαιώσει την εγγραφή σας ο υπεύθυνος χειριστής της βιβλιοθήκης<br><br>
	του σχολείου σας.<br><br>
	Αφού επιβεβαιωθεί η εγγραφή σας, μπορείτε πλέον να συνδεθείτε, μεταφερόμενοι έτσι στην σελίδα υπηρεσιών χρήστη και να κάνετε πλήρη χρήση της εφαρμογής. Μπορείτε δηλαδή :<br><br>
		Να δείτε τα στοιχεία σας και να αλλάξετε το password σας, από την φόρμα στο τέλος της σελίδας.<br><br>
		Να δείτε όλα τα βιβλία που υπάρχουν στο σχολείο σας, καθώς ακόμη και να τα αναζητήσετε εφαρμόζοντας φίλτρα, συμπληρώνοντας τις αντίστοιχες φόρμες.<br><br>
		Να αιτηθείτε το δανεισμό τους, εφόσον υπάρχουν διαθέσιμα αντίτυπα, καταχωρώντας τον τίτλο τους στην κατάλληλη φόρμα κάτω από τον τίτλο Borrow a book και πατώντας το κουμπί "Borrow"<br><br>
		ή την κράτησή τους στην περίπτωση που δεν υπάρχει διαθέσιμο αντίτυπο την στιγμή της αίτησής σας, με τρόπο αντίστοιχο του δανεισμού στην φόρμα κάτω από την επικεφαλίδα Reserve a book.<br><br>
		Να δείτε τις κρατήσεις σας.<br><br>
		Να ακυρώσετε μια κράτηση, καταχωρώντας τον τίτλο του βιβλίου και την ημερομηνία της κράτησής σας, στην φόρμα κάτω από την επικεφαλίδα Cancel a reservation.<br><br>
		Να γράψετε την κριτική σας στις φόρμες κάτω από την επικεφαλίδα Write a review for a book and rate it,σε ένα μικρό κείμενο για βιβλίο που έχετε δανειστεί,	καθώς και να το αξιολογήσετε σε <br><br>
		αριθμητική κλίμακα (1-5).<br><br>
		Να δείτε τις κριτικές σας, πληκτρολογώντας το βιβλίο, του οποίου την κριτική θέλετε να διαβάσετε, στην  φόρμα κάτω από τον τίτλο View your Reviews. <br><br>
		Να δείτε τα βιβλία που έχετε δανειστεί στο παρελθόν, καθώς και την ημερομηνία δανεισμού στο πλαίσιο με επικεφαλίδα Here are the books you have borrowed.<br><br>
        <br><br><br><br><br><br>
Χειριστής:<br><br>
	Δυνατότητα εγγραφής από την αρχική σελίδα, χρησιμοποιώντας το κουμπί "Register as a librarian ", το οποίο σας κατευθύνει σε μια φόρμα, όπου καταχωρείτε τα στοιχεία σας και στη συνέχεια πατάτε το κουμπί "Create".<br><br>
	Εφόσον έχετε καταχωρήσει σωστά όλα τα πεδία ο λογαριασμός σας θα δημιουργηθεί, όμως για να μπορέσετε να συνδεθείτε θα πρέπει να επιβεβαιώσει την εγγραφή σας ο κεντρικός διαχειριστής της εφαρμογής.<br><br>
	Ο χρήστης-χειριστής έχει φυσικά όλες τις δυνατότητες του απλού χρήστη, στις οποίες μπορεί να αποκτήσει πρόσβαση πατώντας το κουμπί κάτω από την επικεφαλίδα Click here to user the library as o normal user.<br><br>
	Πέραν αυτών, μπορεί:<br><br>
		Να δει όλες τις κρατήσεις που περιμένουν επιβεβαίωση σε μια λίστα στο πλαίσιο κάτω από την επικεφαλίδα Rentals awaiting confirmation.<br><br>
		Να επιβεβαιώσει έναν δανεισμό, εφόσον ελέγξει ότι πληρούνται τα κριτίρια, σύμφωνα με τους κανονισμούς της βιβλιοθήκης, καταχωρώντας το ID του χρήστη και το ID του βιβλίου, στις φόρμες κάτω από την επικεφαλίδα<br><br>
		Enter here the book & user ID of the rental you want to confirm.<br><br>
		Να επιβεβαιώσει μία κράτηση κατ' αντιστοιχία με τον δανεισμό, εφόσον υπάρχουν πλέον διαθέσιμα αντίτυπα, καταχωρώντας το ID του χρήστη και το ID του βιβλίου, στις φόρμες κάτω από την επικεφαλίδα<br><br>
		Enter here the book & user ID of the reservation you want to confirm.<br><br>
		Να επιβεβαιώσει την επιστροφή ενός βιβλίου, καταχωρώντας το ID του χρήστη και το ID του βιβλίου, στις φόρμες κάτω από την επικεφαλίδα Enter book & user ID to confirm the return of the book.<br><br>
		Να προσθέσει βιβλία,συγγραφείς και λέξεις κλειδιά στην βάση, συμπληρώνοντας τις φόρμες στις οποίες οδηγείτε από το κουμπί κάτω από την επικεφαλίδα Click here to add a book,writers and keywords to the database.<br><br>
		Να δει όλα τα βιβλία που είναι καταχωρημένα στο σχολείο που ανήκει, καθώς και να κάνει φιλτραρισμένη αναζήτηση, πληκτρολογώντας τα φίλτρα που επιθυμεί στις φόρμες κάτω από την επικεφαλίδα Click to see all the books,<br><br>
		επίσης μπορεί να επιλέξει τον τρόπο που θα ταξινομηθεί η λίστα, από το μενού 2 επιλογών κάτω από την επικεφαλίδα.<br><br>
		Να δει τους χρήστες, που έχουν καθυστερήσει την επιστροφή βιβλίου, με δυνατότηα φιλτραρίσματος του αποτελέσματος, συμπληρώνοντας τα φίλτρα στις φόρμες κάτω από την επικεφαλίδα Click to see which suers have a book passed<br><br>
		its return date.<br><br>
		Να δει το μέσο όρο αξιολόγησης ανά κατηγορία ή ανά δανειζόμενο, με δυνατότηα φιλτραρίσματος του αποτελέσματος, συμπληρώνοντας τα φίλτρα στις φόρμες κάτω από την επικεφαλίδα Click to see average rating per<br><br>
		borrower or per category.<br><br>
		Να απενεργοποιήσει τον λογαριασμό ενός χρήστη, να δει την λίστα με τους ανενεργούς χρήστες,  να τους επανενεργοποιήσει , καθώς και να τους διαγράψει, καταχωρώντας το ID τους στις αντίστοιχες φόρμες κάτω από<br><br>
		τις επικεφαλίδες Deactivation, Activation και DELETE!.<br><br>
		Μέσω της παραπάνω λίστας μπορεί να δει και να ενεργοποιήσει και τους νέους λογαριασμούς οι οποίοι εμφανίζονται με role id = -1, ενώ οι απενεργοποιημένοι από Χειριστή με role id = -3.<br><br>
        <br><br><br><br><br><br>
Διαχειριστής:<br><br>
	Μπορεί να κάνει χρήση των κουμπιών Backup & Restore για να εκτελέσει τις αντίστοιχες λειτουργίες δημιουργίας αντίγραφου της βάσης και ανάκτηση από αυτό.<br><br>
	Μπορεί να δει τους χειριστές που περιμένουν επιβεβαίωση/ενεργοποίηση, πατώντας το κουμπί κάτω από τον επικεφαλίδα Click to see librarian accounts awaiting activation, οδηγούμενος έτσι σε νέα καρτέλα, <br><br>
	σε μία λίστα με τους χειριστές που αναφέραμε και μια φόρμα για να συμπληρώσει το ID του χειριστή που επιθυμεί να ενεργοποιήσει.<br><br>
	Μπορεί να προσθέσει σχολείο στη βάση πατώντας το κουμπί κάτω από την επικεφαλίδα Click here to add a school to the database, που θα τον οδηγήσει σε μία φόρμα για να καταχωρήσει τα στοιχεία του σχολείου.<br><br>
	Μπορεί να δει όλους τους δανεισμούς, όλων των σχολείων και να τους φιλτράρει, κατά μήνα ή/και έτος (Choose year and/or month to see the total number of rentals per school:).<br><br>
	Μπορεί να δει ποιοι συγγραφείς έχουν βιβλία που ανήκουν στη κατηγορία της επιλογής του(επιλέγεται από drop down λίστα).<br><br>
	Μπορεί ακόμη να δει τα αποτελέσματα από 5 μη παραμετροποιήσημα ερωτήματα πατώντας τα κουμπιά κάτω από τις επικεφαλίδες τους.<br><br>
	 	Click to see which young(under 40 y.o.) teachers have borrowed the most books<br><br>
		Click to see which writers didn't have a rental on any of their books<br><br>
		Click to see which librarians loaned the greatest number of books within a year(over 20 rentals)<br><br>
		Click to see which are the top 3 category pairs,ranking by their rentals<br><br>
		Click to see which writers have written at least 5 less books than the writer with th most books<br><br>

        <br><br><br><br><br><br>


{% endblock content %}

